@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars but keep scrolling */
html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}